@import "../../../../../colors";

.drag-node {
  position: relative;
  border: 2px solid;
  border-color: transparent;
  transition: border-color .5s;
}

// drag-node-hover state
.dn-hover {
  border-color: $light-gray;
}

@mixin hover-btn($cursor: pointer) {
  cursor: $cursor;
  display: inline-block;
  padding: 10px 12px;
  background: $light-gray;
  font-size: 11px;
}

.drag-node {
  .hover-handle {
    opacity: 0;
    transition: opacity .5s;
  }
}

.dn-hover {
  .hover-handle {
    opacity: 1;
  }
}

.drag-node {
  .drag-handle {
    position: absolute;
    left: -35px;
    top: -2px;
    @include hover-btn(grab);
  }
}

.drag-node {
  .edit-btn {
    float: right;
    position: relative;
    top: -2px;
    right: -2px;
    background: #F1F1EF;
    @include hover-btn();
  }
}

.drag-node {
  .child-wrapper {
    padding: 15px;
  }
}
