$draggable-ui-color: #f0ede8;
$draggable-handle-size-desktop: 2rem;
$draggable-vertical-padding: 0.5rem;
$draggable-horizontal-padding: 0.5rem;
$draggable-border-width: 0.125rem;
$draggable-border: $draggable-border-width solid transparent;
$draggable-border-hover: $draggable-border-width solid $draggable-ui-color;

@mixin hover-btn($cursor: pointer) {
  cursor: $cursor;
  display: inline-block;
  padding: 0.625rem 0.75rem;
  background: $draggable-ui-color;
  font-size: 0.75rem;
}

.dnd-ctx {
  .dnd-cont {
    min-height: 4rem;
  }

  .dnd-it {
    padding: 0 $draggable-horizontal-padding $draggable-vertical-padding;
  }
}

.mfb-draggable {
  position: relative;
}

.mfb-draggable-card {
  position: relative;
  border: $draggable-border;
  padding-left: $draggable-handle-size-desktop;
  min-height: 2.5rem;
  transition: border-color .5s;

  .mfb-draggable-handle {
    position: absolute;
    width: $draggable-handle-size-desktop + $draggable-border-width;
    height: calc(100% + 2 * #{$draggable-border-width});
    left: -$draggable-border-width;
    top: -$draggable-border-width;
    @include hover-btn(grab);

    svg {
      height: 100%;
    }
  }

  .mfb-draggable-edit-btn {
    position: absolute;
    top: -$draggable-border-width;
    right: -$draggable-border-width;
    @include hover-btn();
    font-size: 0.95rem;
    text-decoration: none;
    color: #333;
    z-index: 1;

    &:hover, &:active {
      background: darken($draggable-ui-color, 3%);
    }
  }

  .mfb-draggable-handle,
  .mfb-draggable-edit-btn {
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s;
  }
}

.dnd-drag {
  padding-left: $draggable-horizontal-padding;
  padding-right: $draggable-horizontal-padding;
}

// Show stuff on hover or when user touches the device.
.dnd-ctx:not(.dnd-ctx-drg) .mfb-draggable-hover, // don’t show handle on elements while dragging something over them
.dnd-drag > .mfb-draggable, // element being dragged
.user-touches .mfb-draggable {
  & > .mfb-draggable-card {
    border: $draggable-border-hover;

    & > .mfb-draggable-handle,
    & > .mfb-draggable-edit-btn {
      visibility: visible;
      opacity: 1;
    }
  }
}
